:root {
    /* 기본 색상 */
    --color-primary: #21BF48;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray-dark: #767676;
    --color-gray-medium: #C4C4C4;
    --color-gray-light: #F2F2F2;
    --color-black-light: #333333;
    
    /* 텍스트 */
    --text-primary: var(--color-black);
    --text-secondary: var(--color-gray-dark);
    --text-third: var(--color-black-light);/*회원 가입|비밀번호*/
    
    /* 버튼 배경 */
    --btn-primary-bg: var(--color-primary);
    --btn-secondary-bg: var(--color-gray-dark);
    --btn-disabled-bg: var(--color-gray-medium);
    --btn-alert-bg: var(--color-white);
    
    /* 버튼 텍스트 */
    --btn-text-primary: var(--color-white);
    --btn-text-secondary: var(--color-gray-dark);
    
    /* 배경 */
    --footer-bg: var(--color-gray-light);
}