/* 헤더 스타일 */
header {
    width: 100%;
    padding: 26px 0;
    background-color: var(--color-white);
}

.header-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo img {
    width: 124px; 
    height: 38px;
    display: block;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 40px;
    transition: all 0.3s ease;
}

.search-container input {
    width: 100%;
    height: 100%;
    padding: 0 50px 0 22px;
    border: 2px solid var(--color-primary);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: var(--color-gray-dark);
    box-sizing: border-box;
}

.search-btn {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.user-menu {
    display: flex;
    gap: 26px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.menu-item span {
    font-size: 12px;
    color: var(--color-gray-dark);
}

/* 푸터 스타일 */
.footer {
    width: 100%;
    height: 298px; 
    background-color: var(--color-gray-light);
    display: flex;
    align-items: center;
    padding: 60px 0 63px 0;
}

.footer .container {
    width: 1280px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-links ul {
    display: flex;
    gap: 14px; /* 사이 줄 인가?*/
}

.footer-links a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.footer-links a:hover {
    font-weight: 700;
    transition: font-weight 0.2s;
}

/* SNS 아이콘 */
.social-icons {
    display: flex;
    gap: 14px;
}

.social-icons img {
    width: 32px;
    height: 32px;
}

.footer-divider {
    border: none;
    border-top: 1px solid var(--color-gray-medium); 
    margin-bottom: 30px;
}

.footer-bottom {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-gray-dark);
}

.footer-bottom strong {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-bottom address {
    font-style: normal;
} 
