/* 배너 */
.banner-section {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: var(--color-gray-light); 
}

.sr-only {
    display: none;
}

.banner-section {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #f2f2f2; /* 피그마의 회색 배경 */
    overflow: hidden;
}

.banner-container {
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
}

.prev { left: 30px; }
.next { right: 30px; }


/* 페이지네이션 도트 스타일 */
.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.dot.active {
    background-color: var(--color-black);
}


/* main container */
.product-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); 
    gap: 78px 70px; 
}

.container {
    max-width: 1280px;  
    margin: 80px auto ;
}

/* 상품 카드 스타일 */
.product-card {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin : 0 auto;
}

.product-link {
    text-decoration: none; 
    color: inherit;      
    display: block;      
}

.product-img {
    width: 100%;
    aspect-ratio: 1 / 1 ;
    border: 1px solid var(--color-gray-medium);
    border-radius: 16px;
    overflow: hidden;
    background-color: #f2f2f2;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-link:hover .product-img img {
    transform: scale(1.05);
}

.seller-name {
    margin-top: 16px;
    font-size: 16px;
    color: var(--color-gray-dark); 
}

.product-name {
    font-size: 18px;
    color: var(--color-black);
    line-height: 22px;
}

.product-price {
    font-size: 24px;
    color: var(--color-black);
    font-weight: 700;
}

.product-price span {
    font-size: 16px;
    font-weight: 400;
    margin-left: 2px;
}



@media screen and (max-width: 768px) {
    .search-container {
        width: 250px;
    }
    
    .banner-section {
        height: 300px;
    }

    .header-left {
        gap: 15px;
    }
}