o/* 메인 배너 */
.main-banner {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: var(--color-gray-light); /* #f2f2f2 */
}

/* 상품 리스트 그리드 */
.sr-only {
    display: none;
}

.main-banner {
    position: relative; 
    width: 100%;
    height: 500px;
    background-color: #F2F2F2;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 좌우 버튼 공통 스타일 */
.btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* 세로 중앙 정렬 */
    background: none;
    border: none;
    cursor: pointer;
    padding: 20px;
    z-index: 10;
}

.btn-prev { left: 30px; } /* 좌측 여백 */
.btn-next { right: 30px; } /* 우측 여백 */

/* 페이지네이션 도트 스타일 */
.banner-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.dot.active {
    background-color: #000000;
}
.product-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); 
    gap: 78px 70px; 
}

.container {
    max-width: 1280px;  
    margin: 80px auto ;
}

/* 상품 카드 스타일 */
.product-card {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin : 0 auto;
}

.product-img {
    width: 100%;
    aspect-ratio: 1 / 1 ;
    border: 1px solid var(--color-gray-medium);
    border-radius: 16px;
    overflow: hidden;
    background-color: #f2f2f2;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product-card:hover .product-img img {
    transform: scale(1.05);
}

.seller-name {
    margin-top: 16px;
    font-size: 16px;
    color: var(--color-gray-dark); 
}

.product-name {
    font-size: 18px;
    color: var(--color-black);
    line-height: 22px;
}

.product-price {
    font-size: 24px;
    color: var(--color-black);
    font-weight: 700;
}

.product-price span {
    font-size: 16px;
    font-weight: 400;
    margin-left: 2px;
}


.footer {
    width: 100%;
    height: 298px; 
    background-color: var(--color-gray-light);
    display: flex;
    align-items: center;
    padding: 60px 0 63px 0;
}

.footer .container {
    width: 1280px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footer-links ul {
    display: flex;
    gap: 14px; /* 사이 줄 인가?*/
}

.footer-links a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.footer-links a.bold {
    font-weight: 700; 
}

/* SNS 아이콘 */
.social-icons {
    display: flex;
    gap: 14px;
}

.social-icons img {
    width: 32px;
    height: 32px;
}

.footer-divider {
    border: none;
    border-top: 1px solid var(--color-gray-medium); 
    margin-bottom: 30px;
}

.footer-bottom {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-gray-dark);
}

.footer-bottom strong {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-bottom address {
    font-style: normal;
} 