*, *::before, *::after {
    box-sizing: border-box;
}
body{
    font-family:'SpokaHanSansNeo',sans-serif;
    
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.login-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.login-logo img{
    width:238px;
    margin-bottom:70px ;
    margin-top:100px;
}
.login-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    padding:18px
}
.login-box{
    max-width: 550px;
    border: 1px solid var(--color-gray-medium);
    display: flex;
    justify-content: center;
    padding: 34px 35px;
    border-radius: 5px;
}
.login-form{
    display: flex;
    flex-direction: column;
    
}
.login-input{
    width:480px;
    height:60px;
    border:none;
    border-bottom: 1px solid var(--color-gray-medium);
    
}
.login-error{
    color:red;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-top: 26px;
}
.login-btn{
    margin-top: 36px;
    width:480px;
    height: 60px;
    background-color: var(--color-primary);
    color:var(--color-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.login-footer{
    margin-top:30px;
    
}
.login-footer a + a::before
 { content: " | "; }
.login-footer a{
    font-weight: 400;
    font-size: 16px;
    color:var(--color-black-light);
    text-decoration: none;
}



